<md-list>
  <md-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></md-list-item>
  <md-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/patients">Patient Surveys</a></md-list-item>
  <md-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/institutions">Institutions</a></md-list-item>
  <md-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/countries">Countries</a></md-list-item>
</md-list>